openapi: 3.0.3
info:
  title: iSCALE Lead Routing API
  version: 2.0.0
  description: >-
    # Getting Started


    The iSCALE Lead Routing API provides programmatic access to the lead routing platform. Use it to manage verticals,
    campaigns, buyers, contracts, and leads.


    ## Authentication


    Three authentication methods are supported:


    ### Admin API Key (Full Dashboard Parity)

    ```

    Authorization: Bearer lr_xxx

    ```

    An API key with the `admin` scope authenticates against every `/api/admin/*` endpoint

    with the SAME tenant-scoped access as a UI admin session — it resolves the creating

    admin's live permissions, so demoting or deactivating that admin disables the key.

    Excluded from key auth: impersonation and API-key mint/revoke (session-only). Money-mutating

    endpoints additionally require the key's `allowBilling` flag (default on). Create via the

    admin dashboard (Settings > API Keys). Legacy `routing`/empty-scope keys do NOT reach

    `/api/admin` — the `admin` scope is an explicit grant.


    ### Session Cookie (Admin/Portal/Partner)

    ```

    POST /api/v1/auth

    { "email": "user@example.com", "password": "..." }

    ```

    Returns a `lr_session` cookie used for subsequent requests.


    ### Partner API Key (Lead Submission and Partner API)

    ```

    Authorization: Bearer lr_xxx

    ```

    Lead submission (`POST /api/v1/leads/submit`) authenticates ONLY on this header — the key

    must carry the `posting` scope, and it identifies the partner. There is no query-parameter

    or custom-header alternative. Create keys via the admin dashboard (partner detail > API Keys)

    or the partner portal (Settings).


    ## Response Format


    **Success (single):** `{ "data": { ... } }`


    **Success (list):** `{ "data": [...], "pagination": { "total": 100, "limit": 20, "offset": 0, "hasMore": true } }`


    **Error:** `{ "error": { "code": "VALIDATION_ERROR", "message": "...", "details": { ... } } }`


    ## Error Codes


    | Code | HTTP Status | Description |

    |------|-------------|-------------|

    | VALIDATION_ERROR | 400 | Invalid request data |

    | UNAUTHORIZED | 401 | Missing or invalid auth |

    | FORBIDDEN | 403 | Insufficient permissions |

    | NOT_FOUND | 404 | Resource not found |

    | DUPLICATE | 409 | Resource already exists |

    | RATE_LIMITED | 429 | Too many requests |


    ## Rate Limiting


    - **Lead submission** (`POST /api/v1/leads/submit`): rate limited per partner API key

    - **Public endpoints** (`/api/public/*`): 60 requests/minute per IP

    - **Admin API keys** (`Authorization: Bearer` on `/api/admin/*`): 300 requests/minute per key

    - **Admin/Portal endpoints (session)**: no explicit rate limit (session-authenticated)

    - Rate-limited responses return `429` with `{ "error": { "code": "RATE_LIMITED", "message": "..." } }`
  contact:
    name: iSCALE Support
    email: support@iscale.com
  license:
    name: Proprietary
servers:
  - url: https://theleadrouter.com
    description: Production
security:
  - sessionCookie: []
components:
  securitySchemes:
    sessionCookie:
      type: apiKey
      in: cookie
      name: lr_session
      description: Session cookie for admin/buyer authentication
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key for programmatic access
    partnerApiKey:
      type: http
      scheme: bearer
      description: "Partner API key (lr_xxx) for lead submission and partner API access. Scopes: `posting` (lead submission
        only), `routing` (full partner portal API access). Create keys via admin dashboard (partner detail > API Keys
        tab) or partner portal (Settings)."
    bearerAuth:
      type: http
      scheme: bearer
      description: Partner API key (lr_xxx) supplied as a Bearer token. Same credential as partnerApiKey.
    adminApiKey:
      type: http
      scheme: bearer
      description: >-
        Admin API key (lr_xxx, scope `admin`) supplied as a Bearer token. Grants the same tenant-scoped access as a UI
        admin session across all `/api/admin/*` endpoints, resolving the creating admin''s live permissions. Excluded:
        impersonation and API-key mint/revoke (session-only). Money-mutating endpoints additionally require the SEPARATE
        `admin_billing` scope — a key with only the `admin` scope cannot perform money mutations. Rate limited to 300
        requests/minute per key. Create via the admin dashboard (Settings > API Keys).


        SCOPE RESOLUTION (documented after the 2026-07-27 security review, finding D — the behaviour is deliberate but
        was previously undocumented, and undocumented auth surface is where leakage hides). Scopes are resolved by
        `hasScope()` in `src/lib/auth/api-key.ts`:

        * `admin` and `admin_billing` are EXPLICIT-ONLY — they are satisfied only by an explicit
          grant on the key, never by the wildcard below.

        * A key with an EMPTY scopes array (`scopes: []` — legacy keys minted before scopes
          existed) acts as a WILDCARD over every non-privileged scope: `routing`, `posting`,
          `messaging`, `calls`, `call_data_write`. Such a key therefore authenticates against
          `/api/v1/*` (which requires `routing`) while still being refused at `/api/admin/*`
          (which requires explicit `admin`). This is the exact combination observed during the
          review — a 200 on `GET /api/v1/leads` alongside 403 scope-walls on `/api/admin/*`.

        * A key holding ONLY `admin` does NOT satisfy `routing`, so it is refused on `/api/v1/*`.
          To use both surfaces a key must carry both scopes explicitly.

        Operationally: prefer minting keys with explicit scopes. An empty-scope key is broader than it looks on the
        `/api/v1` surface.
  parameters:
    limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
      description: Number of results per page
    offset:
      name: offset
      in: query
      schema:
        type: integer
        minimum: 0
        default: 0
      description: Number of results to skip
    search:
      name: search
      in: query
      schema:
        type: string
      description: Free-text search across name/email fields
    dateFrom:
      name: dateFrom
      in: query
      schema:
        type: string
        format: date-time
      description: Filter results created on or after this timestamp
    dateTo:
      name: dateTo
      in: query
      schema:
        type: string
        format: date-time
      description: Filter results created on or before this timestamp
    sortDirection:
      name: sortDirection
      in: query
      schema:
        type: string
        enum:
          - asc
          - desc
        default: desc
      description: Sort direction
    pathId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Resource UUID
    messagingPathId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Resource UUID.
    messagingPageSize:
      name: page[size]
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
      description: JSON:API page size (results per page).
    messagingPageNumber:
      name: page[number]
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
      description: JSON:API page number (1-based).
  schemas:
    ErrorResponse:
      type: object
      description: |
        Standard error shape returned by every endpoint.

        `READ_ONLY` is returned as a `403` on ANY mutating method (`POST` / `PUT` / `PATCH` / `DELETE`)
        when the request is authenticated with a read-only API key (`apiKey.readOnly = true`).
        `GET` / `HEAD` / `OPTIONS` are unaffected. Session auth is unaffected.
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              enum:
                - VALIDATION_ERROR
                - UNAUTHORIZED
                - FORBIDDEN
                - NOT_FOUND
                - DUPLICATE
                - RATE_LIMITED
                - CAP_EXCEEDED
                - INSUFFICIENT_BALANCE
                - FEATURE_DISABLED
                - READ_ONLY
            message:
              type: string
            details:
              type: object
              additionalProperties: true
      example:
        error:
          code: VALIDATION_ERROR
          message: Invalid email format
          details:
            field: email
    PaginationMeta:
      type: object
      required:
        - total
        - limit
        - offset
        - hasMore
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
        hasMore:
          type: boolean
    PaginatedResponse:
      type: object
      required:
        - data
        - pagination
      properties:
        data:
          type: array
          items: {}
        pagination:
          $ref: "#/components/schemas/PaginationMeta"
    CursorPaginationMeta:
      type: object
      required:
        - total
        - totalIsApproximate
        - hasMore
        - nextCursor
        - prevCursor
      properties:
        total:
          type: integer
          nullable: true
        totalIsApproximate:
          type: boolean
        hasMore:
          type: boolean
        nextCursor:
          type: string
          nullable: true
        prevCursor:
          type: string
          nullable: true
    LeadStatus:
      type: string
      enum:
        - pending
        - matched
        - sold
        - returned
        - rejected
        - scrubbed
        - trashed
        - inactive_campaign
    LeadDispositionType:
      type: string
      enum:
        - pending
        - delivered
        - sold
        - returned
        - scrubbed
        - trashed
    DistributionDisposition:
      type: string
      enum:
        - delivered
        - rejected
        - skipped
        - failed
    DeliveryStatus:
      type: string
      enum:
        - pending
        - delivering
        - delivered
        - failed
    BuyerStatus:
      type: string
      enum:
        - active
        - paused
        - suspended
        - inactive
    PartnerStatus:
      type: string
      enum:
        - active
        - paused
        - inactive
    PaymentCycle:
      type: string
      enum:
        - weekly
        - bimonthly
        - monthly
        - adhoc
    ContractStatus:
      type: string
      enum:
        - active
        - paused
        - expired
    CampaignStatus:
      type: string
      enum:
        - active
        - paused
        - inactive
    TransactionType:
      type: string
      enum:
        - sale
        - refund
        - payment
        - adjustment
        - fee
        - cpa
        - misc_cost
        - referral_commission
        - cpa_reversal
        - misc_cost_reversal
        - dispute
        - dispute_won
        - dispute_lost
    EntityType:
      type: string
      enum:
        - lead
        - call
        - payment
    RefundReason:
      type: string
      enum:
        - duplicate
        - bad_data
        - wrong_vertical
        - out_of_area
        - not_interested
        - other
    RefundStatus:
      type: string
      enum:
        - pending
        - approved
        - rejected
    PayoutStatus:
      type: string
      enum:
        - pending
        - processing
        - paid
        - cancelled
    SuppressionType:
      type: string
      enum:
        - phone
        - email
    SuppressionScope:
      type: string
      enum:
        - global
        - buyer
        - vertical
    SuppressionReason:
      type: string
      enum:
        - dnc_request
        - opt_out
        - bad_data
        - manual
    DataDeletionType:
      type: string
      enum:
        - gdpr
        - ccpa
    DataDeletionStatus:
      type: string
      enum:
        - pending
        - processing
        - completed
        - failed
    WebhookStatus:
      type: string
      enum:
        - active
        - paused
    WebhookDeliveryStatus:
      type: string
      enum:
        - pending
        - success
        - failed
        - retrying
    ScopedWebhookEvent:
      type: string
      description: |
        Events subscribable on partner-, offer-, and campaign-scoped webhooks (matches
        `SCOPED_WEBHOOK_EVENTS`). Global-scope webhooks additionally accept the entity-sync
        events `buyer.created`, `partner.created`, `vertical.created`, `offer.created`.
        The real-time call trigger events (`call.incoming`, `call.dialed`, `call.connected`,
        `call.duration`) mirror the call billing triggers; `call.duration` is gated per
        webhook by `minDurationSec` / `durationAnchor`. `call.billed` fires off the billable
        event — once per billed pricing rule, with `Rule_*` tokens.
      enum:
        - lead.received
        - lead.created
        - lead.sold
        - lead.rejected
        - lead.dq_distributed
        - lead.returned
        - lead.dispositioned
        - lead.converted
        - lead.sale_adjusted
        - call.converted
        - cpa.converted
        - call.incoming
        - call.dialed
        - call.connected
        - call.duration
        - call.billed
        - call.completed
        - call.dispositioned
        - call.sale_adjusted
    WebhookFilterOperator:
      type: string
      enum:
        - equals
        - not_equals
        - contains
        - not_contains
        - greater_than
        - less_than
        - is_empty
        - is_not_empty
    WebhookFilter:
      type: object
      additionalProperties: false
      required:
        - field
        - operator
      properties:
        field:
          type: string
          minLength: 1
          description: Delivery token to evaluate, for example `Intake_Filtered` or `Sale_Price`.
        operator:
          $ref: "#/components/schemas/WebhookFilterOperator"
        value:
          description: Required except for `is_empty` and `is_not_empty`. Amount tokens use decimal amount strings in the tenant
            currency.
          oneOf:
            - type: string
            - type: array
              items:
                type: string
    VerticalStatus:
      type: string
      enum:
        - active
        - inactive
    FieldType:
      type: string
      enum:
        - text
        - number
        - boolean
        - date
        - select
        - email
        - phone
        - url
    UserRole:
      type: string
      enum:
        - admin
        - buyer
        - partner
    UserStatus:
      type: string
      enum:
        - active
        - inactive
    ApiKeyStatus:
      type: string
      enum:
        - active
        - revoked
    PricingModel:
      type: string
      enum:
        - fixed
        - ping_post
    DeliveryMethod:
      type: string
      enum:
        - http_post
        - http_get
        - email
        - ftp
        - google_sheets
    DeliveryFormat:
      type: string
      enum:
        - json
        - xml
        - form
    PingStatus:
      type: string
      enum:
        - active
        - expired
        - converted
    PingMatchStatus:
      type: string
      enum:
        - pending
        - accepted
        - rejected
        - expired
    IdentifierType:
      type: string
      enum:
        - email
        - phone
        - leadId
    CapPeriodType:
      type: string
      enum:
        - daily
        - weekly
        - monthly
        - concurrent
    CapEntityType:
      type: string
      enum:
        - contract
        - campaign
        - buyer
    PersonStatus:
      type: string
      enum:
        - active
        - merged
        - deleted
    DispositionCategory:
      type: string
      enum:
        - working
        - converted
        - rejected
        - returned
    DispositionSource:
      type: string
      enum:
        - system
        - api
        - buyer
    DeliveryOutcome:
      type: string
      enum:
        - success
        - reject
        - no_match
        - duplicate
        - failed_data_validation
        - unknown_response
        - timeout
        - communication_error
    OfferStatus:
      type: string
      enum:
        - active
        - paused
        - inactive
        - setup
    OfferVisibility:
      type: string
      enum:
        - public
        - private
    DistributionType:
      type: string
      enum:
        - exclusive
        - multisell
        - hybrid
    DistributionRule:
      type: string
      enum:
        - price
        - priority
        - weight
        - round_robin
        - scarcity_weighted
        - quality_tier
    CallStatus:
      type: string
      enum:
        - ringing
        - ivr
        - routing
        - holding
        - connected
        - completed
        - missed
        - failed
    CallSaleStatus:
      type: string
      enum:
        - ringing
        - answered
        - declined
        - timeout
        - completed
    CallSaleCpaStatus:
      type: string
      enum:
        - pending
        - converted
        - expired
        - skipped
    TrackingNumberProvider:
      type: string
      enum:
        - twilio
        - telnyx
        - bandwidth
        - signalwire
    TrackingNumberType:
      type: string
      enum:
        - local
        - tollfree
        - mobile
    TrackingNumberStatus:
      type: string
      enum:
        - assigned
        - available
        - released
    IvrGreetingType:
      type: string
      enum:
        - tts
        - audio
    IvrStatus:
      type: string
      enum:
        - active
        - inactive
    EnrollmentStatus:
      type: string
      enum:
        - requested
        - approved
        - rejected
    EnrollmentSource:
      type: string
      enum:
        - partner
        - admin
    OrganizationPlan:
      type: string
      enum:
        - starter
        - growth
        - enterprise
    OrganizationStatus:
      type: string
      enum:
        - active
        - suspended
        - cancelled
    EngagementStatus:
      type: string
      enum:
        - pending
        - in_progress
        - converted
        - disqualified
        - expired
    BillingCycle:
      type: string
      enum:
        - prepay
        - weekly
        - bimonthly
        - monthly
    BuyerCreate:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
          example: Acme Insurance Corp
        firstName:
          type: string
          maxLength: 255
          nullable: true
        lastName:
          type: string
          maxLength: 255
          nullable: true
        email:
          type: string
          format: email
          nullable: true
          example: buyer@acme-insurance.com
        phone:
          type: string
          maxLength: 20
          nullable: true
        company:
          type: string
          maxLength: 255
          nullable: true
        address:
          type: string
          maxLength: 500
          nullable: true
        address2:
          type: string
          nullable: true
        city:
          type: string
          maxLength: 100
          nullable: true
        state:
          type: string
          maxLength: 100
          nullable: true
        zipCode:
          type: string
          maxLength: 20
          nullable: true
        country:
          type: string
          maxLength: 100
          nullable: true
        website:
          type: string
          nullable: true
        timezone:
          type: string
          nullable: true
        salesRepId:
          type: string
          format: uuid
          nullable: true
        accountManagerId:
          type: string
          format: uuid
          nullable: true
        billingCycle:
          $ref: "#/components/schemas/BillingCycle"
          default: monthly
        brandName:
          type: string
          nullable: true
        brandLogoUrl:
          type: string
          nullable: true
        brandTcpa:
          type: string
          nullable: true
        status:
          $ref: "#/components/schemas/BuyerStatus"
          default: active
        pricingModel:
          $ref: "#/components/schemas/PricingModel"
          default: fixed
        defaultPrice:
          type: number
          minimum: 0
          nullable: true
        creditLimit:
          type: string
          nullable: true
        autoRecharge:
          type: boolean
        autoRechargeAmount:
          type: string
          nullable: true
        autoRechargeThreshold:
          type: string
          nullable: true
        dedupEnabled:
          type: boolean
        dedupFields:
          type: array
          items:
            type: string
        dedupWindowDays:
          type: integer
          minimum: 0
        postbackKey:
          type: string
          nullable: true
        acceptsReturns:
          type: boolean
          default: true
        returnWindow:
          type: integer
          minimum: 0
          default: 72
        billingContactName:
          type: string
          maxLength: 255
          nullable: true
        billingContactEmail:
          type: string
          format: email
          nullable: true
        billingContactPhone:
          type: string
          maxLength: 20
          nullable: true
        paymentTerms:
          type: string
          maxLength: 50
          nullable: true
        notes:
          type: string
          nullable: true
        legacyId:
          type: string
          nullable: true
        crmId:
          type: string
          nullable: true
        partnerResponseBuyerName:
          type: string
          maxLength: 255
          nullable: true
          description: Partner-facing buyer name returned on sold lead responses when the campaign enables buyerName.
          example: Howard Snyder
        partnerResponseBuyerPhone:
          type: string
          pattern: ^\+[1-9]\d{1,14}$
          nullable: true
          description: Partner-facing buyer phone in E.164 format returned on sold lead responses when enabled.
          example: "+12131231234"
        partnerResponseBuyerId:
          type: string
          maxLength: 255
          nullable: true
          description: Partner-facing buyer identifier returned on sold lead responses when enabled. Not the internal buyer UUID.
          example: "1972"
        partnerResponseRedirectUrl:
          type: string
          nullable: true
          description: "Redirect URL template returned on sold lead responses when enabled. Allowed tokens: {{leadId}},
            {{partnerId}}."
          example: https://buyer.example/thanks/{{leadId}}?partner={{partnerId}}
    BuyerUpdate:
      description: All fields optional (partial update)
      allOf:
        - $ref: "#/components/schemas/BuyerCreate"
      x-all-optional: true
    BuyerFilter:
      type: object
      properties:
        status:
          $ref: "#/components/schemas/BuyerStatus"
        pricingModel:
          $ref: "#/components/schemas/PricingModel"
        search:
          type: string
        limit:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        offset:
          type: integer
          minimum: 0
          default: 0
    PartnerCreate:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
          example: LeadGen Partners LLC
        firstName:
          type: string
          maxLength: 255
          nullable: true
        lastName:
          type: string
          maxLength: 255
          nullable: true
        email:
          type: string
          format: email
          nullable: true
          example: ops@leadgen-partners.com
        phone:
          type: string
          maxLength: 20
          nullable: true
        company:
          type: string
          maxLength: 255
          nullable: true
        address:
          type: string
          maxLength: 500
          nullable: true
        address2:
          type: string
          nullable: true
        city:
          type: string
          maxLength: 100
          nullable: true
        state:
          type: string
          maxLength: 100
          nullable: true
        zipCode:
          type: string
          maxLength: 20
          nullable: true
        country:
          type: string
          maxLength: 100
          nullable: true
        website:
          type: string
          nullable: true
        timezone:
          type: string
          nullable: true
        partnerManagerId:
          type: string
          format: uuid
          nullable: true
        status:
          $ref: "#/components/schemas/PartnerStatus"
          default: active
        defaultPrice:
          type: number
          minimum: 0
          nullable: true
        acceptsDuplicates:
          type: boolean
          default: false
        acceptsReturns:
          type: boolean
          default: false
        contractStartDate:
          type: string
          format: date
          nullable: true
        contractEndDate:
          type: string
          format: date
          nullable: true
        billingContactName:
          type: string
          maxLength: 255
          nullable: true
        billingContactEmail:
          type: string
          format: email
          nullable: true
        billingContactPhone:
          type: string
          maxLength: 20
          nullable: true
        paymentTerms:
          type: string
          maxLength: 50
          nullable: true
        notes:
          type: string
          nullable: true
        paymentCycle:
          $ref: "#/components/schemas/PaymentCycle"
          default: monthly
        paymentThreshold:
          type: string
          description: Minimum balance before payout triggers
        legacyId:
          type: string
          nullable: true
        crmId:
          type: string
          nullable: true
    PartnerUpdate:
      description: All fields optional (partial update)
      allOf:
        - $ref: "#/components/schemas/PartnerCreate"
      x-all-optional: true
    PartnerFilter:
      type: object
      properties:
        status:
          $ref: "#/components/schemas/PartnerStatus"
        search:
          type: string
        limit:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        offset:
          type: integer
          minimum: 0
          default: 0
    GeoTarget:
      type: object
      properties:
        states:
          type: array
          items:
            type: string
            maxLength: 2
          example:
            - CA
            - NY
            - TX
        zipCodes:
          type: array
          items:
            type: string
            maxLength: 10
        cities:
          type: array
          items:
            type: string
            maxLength: 100
        exclude:
          type: boolean
          default: false
    CustomFilter:
      type: object
      required:
        - field
        - operator
        - value
      properties:
        field:
          type: string
          minLength: 1
        operator:
          type: string
          enum:
            - equals
            - not_equals
            - contains
            - in
            - not_in
            - greater_than
            - less_than
        value:
          type: string
    ScheduleDay:
      type: object
      required:
        - day
        - startTime
        - endTime
      properties:
        day:
          type: integer
          minimum: 0
          maximum: 6
        startTime:
          type: string
          pattern: ^\d{2}:\d{2}$
          example: 09:00
        endTime:
          type: string
          pattern: ^\d{2}:\d{2}$
          example: 1020
        active:
          type: boolean
          default: true
    Schedule:
      type: object
      properties:
        timezone:
          type: string
          maxLength: 50
          default: America/New_York
        days:
          type: array
          items:
            type: integer
            minimum: 0
            maximum: 6
        startTime:
          type: string
          pattern: ^\d{2}:\d{2}$
          nullable: true
        endTime:
          type: string
          pattern: ^\d{2}:\d{2}$
          nullable: true
        startDate:
          type: string
          format: date
          nullable: true
        endDate:
          type: string
          format: date
          nullable: true
    CapConfig:
      type: object
      properties:
        daily:
          type: integer
          minimum: 0
          nullable: true
        weekly:
          type: integer
          minimum: 0
          nullable: true
        monthly:
          type: integer
          minimum: 0
          nullable: true
        concurrent:
          type: integer
          minimum: 0
          nullable: true
    ResponseMappingRule:
      type: object
      required:
        - pattern
        - interpretAs
      properties:
        pattern:
          type: string
        definition:
          type: string
          default: ""
        interpretAs:
          type: string
        sortOrder:
          type: integer
          default: 0
    ResponseTokens:
      type: object
      properties:
        leadIdPattern:
          type: string
        pricePattern:
          type: string
        messagePattern:
          type: string
        redirectUrlPattern:
          type: string
        brandsPattern:
          type: string
        dynamicBrands:
          type: boolean
          default: false
    DeliveryAction:
      type: object
      required:
        - id
        - type
      properties:
        id:
          type: string
        type:
          type: string
          enum:
            - http_post
            - http_get
            - email
            - ftp
            - google_sheets
            - sms
        enabled:
          type: boolean
          default: true
        url:
          type: string
        format:
          type: string
          enum:
            - json
            - xml
            - form
        timeout:
          type: integer
          minimum: 1
          maximum: 120
        retries:
          type: integer
          minimum: 0
          maximum: 10
        authType:
          type: string
          enum:
            - none
            - basic
            - bearer
            - api_key
        authCredentials:
          type: object
          properties:
            username:
              type: string
            password:
              type: string
            token:
              type: string
            headerName:
              type: string
        headers:
          type: array
          items:
            type: object
            required:
              - name
              - value
            properties:
              name:
                type: string
              value:
                type: string
        fieldMapping:
          type: array
          items:
            type: object
            required:
              - from
              - to
            properties:
              from:
                type: string
              to:
                type: string
        bodyTemplate:
          type: string
        urlTemplate:
          type: string
        responseMappingRules:
          type: array
          items:
            $ref: "#/components/schemas/ResponseMappingRule"
        responseTokens:
          $ref: "#/components/schemas/ResponseTokens"
        emailTo:
          type: string
        emailCc:
          type: string
        emailSubject:
          type: string
        emailTemplate:
          type: string
        emailBody:
          type: string
          description: Inline email body (interpolated with lead tokens). Read by the delivery-test send path.
        ftpHost:
          type: string
        ftpPath:
          type: string
        ftpUsername:
          type: string
        ftpPassword:
          type: string
        spreadsheetId:
          type: string
        sheetName:
          type: string
        shareWithEmail:
          type: string
        phoneSource:
          type: string
          enum:
            - fixed
            - lead
          default: fixed
          description: |
            SMS recipient selector (only meaningful when `type=sms`):
            - `fixed` (default) — send to `phoneNumber` (e.g. buyer CRM).
            - `lead` — send to the matched lead's own phone (consumer notification).
              `lead.phone` is normalized to E.164 before send. Sends are skipped
              and logged as `PHONE_INVALID` when `lead.phone` is missing or cannot
              be normalized. TCPA consent is enforced upstream at intake — there is
              no per-send TCPA gate in the SMS dispatcher.
        phoneNumber:
          type: string
          pattern: ^\+[1-9]\d{1,14}$
          description: SMS recipient (E.164). Required when `type=sms` AND `phoneSource=fixed`.
        messageBody:
          type: string
          minLength: 1
          maxLength: 1600
          description: SMS body. Required when `type=sms`. Supports `{{token}}` merge fields.
        templateSlug:
          type: string
          description: Optional SMS template slug — used to pre-fill `messageBody` in the UI.
        fromNumberOverride:
          type: string
          pattern: ^\+[1-9]\d{1,14}$
          description: Per-contract sender override (E.164). Falls back to the resolved provider's `fromNumber`.
    ContractCreate:
      type: object
      required:
        - buyerId
        - verticalId
        - name
        - price
      properties:
        ruleType:
          type: string
          default: oneToOne
        contactId:
          type: string
          format: uuid
          nullable: true
        buyerId:
          type: string
          format: uuid
          example: b2c3d4e5-f6a7-8901-b2c3-d4e5f6a78901
        verticalId:
          type: string
          format: uuid
        name:
          type: string
          minLength: 1
          maxLength: 255
          example: Auto Insurance - California
        priority:
          type: integer
          minimum: 0
          default: 0
        status:
          $ref: "#/components/schemas/ContractStatus"
          default: active
        pricingModel:
          $ref: "#/components/schemas/PricingModel"
          default: fixed
        price:
          type: number
          minimum: 0
          example: 12.5
        exclusiveMultiplier: {}
        allowMultiSale:
          type: boolean
          default: false
        deliveryMethod:
          $ref: "#/components/schemas/DeliveryMethod"
          default: http_post
        deliveryFormat:
          $ref: "#/components/schemas/DeliveryFormat"
          default: json
        deliveryUrl:
          type: string
          format: uri
          nullable: true
        deliveryEmail:
          type: string
          format: email
          nullable: true
        requiresPing:
          type: boolean
          default: false
        pingTimeout:
          type: integer
          minimum: 100
          maximum: 60000
          default: 30000
        acceptsReturns:
          type: boolean
          default: true
        returnWindow:
          type: integer
          minimum: 0
          default: 72
        geo:
          $ref: "#/components/schemas/GeoTarget"
        schedule:
          $ref: "#/components/schemas/Schedule"
        caps:
          $ref: "#/components/schemas/CapConfig"
        filters:
          type: object
          additionalProperties: true
        fieldMapping:
          type: object
          additionalProperties:
            type: string
        geoFilters: {}
        demographicFilters: {}
        customFilters: {}
        scheduleTimezone:
          type: string
        scheduleHours: {}
        expiresAt:
          type: string
          format: date-time
          nullable: true
        deliveryMethodOverride:
          type: string
          nullable: true
        deliveryUrlOverride:
          type: string
          nullable: true
        deliveryConfig:
          type: array
          items:
            $ref: "#/components/schemas/DeliveryAction"
        intakeCenterId:
          type: string
          format: uuid
          nullable: true
        revenueOnAcceptance:
          type: boolean
          default: true
        revenueOnCpa:
          type: boolean
          default: false
        allowZeroCpaConversion:
          type: boolean
          default: false
          description: Allow a $0 CPA to convert as a real conversion (cost-plus deals where the buyer pays the intake center
            direct). Off by default — a $0 CPA is otherwise rejected as a misconfiguration. No balance movement or
            ledger row is written for a $0 conversion.
        cpaAmount: {}
        cpaWindowDays:
          type: integer
          minimum: 1
          nullable: true
        pricePerLead: {}
        dailyLeadCap: {}
        weeklyLeadCap: {}
        monthlyLeadCap: {}
        dailySpendCap: {}
        weeklySpendCap: {}
        monthlySpendCap: {}
        legacyId:
          type: string
          nullable: true
        crmId:
          type: string
          nullable: true
        inboundWebhookKey:
          type: string
          nullable: true
        callEnabled:
          type: boolean
          default: false
        callPhoneNumber:
          type: string
          nullable: true
        callBackupNumber:
          type: string
          nullable: true
        premiumDestinationAck:
          type: boolean
          description: Premium destination guardrail. Must be true when a CHANGED transfer number (callPhoneNumber /
            callBackupNumber) classifies as a premium-rate (high-cost NPA, e.g. 605) destination — otherwise the write
            fails 400 with error code PREMIUM_ACK_REQUIRED. Acknowledging stamps the per-minute surcharge on the
            contract. Not persisted (read by the guard, then stripped). Non-US transfer numbers are rejected with 400
            VALIDATION_ERROR regardless of ack.
        premiumDestinationSurchargeCreditsPerMin:
          type: string
          nullable: true
          readOnly: true
          description: Per-minute surcharge (credits, decimal string) billed on this contract's transferred minutes while a saved
            transfer number classifies premium; null when none. Stamped server-side on ack (default 3.00), cleared
            automatically when the number returns to a normal destination, superadmin-overridable per contract.
        callRingTimeout:
          type: integer
          minimum: 1
          nullable: true
        callWhisperMessage:
          type: string
          nullable: true
        callWhisperRequired:
          type: boolean
          default: false
        callCapMode:
          type: string
          enum:
            - separate
            - shared
          default: separate
        dailyCallCap:
          type: integer
          minimum: 0
          nullable: true
        weeklyCallCap:
          type: integer
          minimum: 0
          nullable: true
        monthlyCallCap:
          type: integer
          minimum: 0
          nullable: true
        aiDialerAgentId:
          type: string
          format: uuid
          nullable: true
          description: ElevenLabs agent that places outbound calls for this contract's leads. Cross-tenant references rejected.
        aiDialerCadenceId:
          type: string
          format: uuid
          nullable: true
          description: Cadence governing dial timing. cadenceType `immediate` dials at sale; `call_assist` dials N days post-sale
            via the `/api/cron/ai-dialer-call-assist` cron. Cross-tenant references rejected.
        aiDialerDelaySeconds:
          type: integer
          minimum: 0
          maximum: 86400
          default: 30
          description: For Immediate cadences, seconds between sale completion and the first dial. Ignored for Call Assist
            cadences (cron-driven).
    ContractUpdate:
      description: All fields optional (partial update)
      allOf:
        - $ref: "#/components/schemas/ContractCreate"
      x-all-optional: true
    PremiumDestination:
      type: object
      description: May be present on contract create/update responses when the effective transfer number(s) classify as a
        premium-rate destination (premium destination guardrail). Classification is best-effort — a static high-cost NPA
        list plus optional rate-deck / carrier pricing lookups — so absence does not guarantee a low-cost destination,
        and observed-cost sweeps remain the billing corrector.
      properties:
        risk:
          type: string
          enum:
            - premium
        surchargeCreditsPerMin:
          type: string
          nullable: true
          description: Per-minute surcharge (credits, decimal string) stamped on the contract.
    ContractFilter:
      type: object
      properties:
        buyerId:
          type: string
          format: uuid
        verticalId:
          type: string
          format: uuid
        status:
          $ref: "#/components/schemas/ContractStatus"
        pricingModel:
          $ref: "#/components/schemas/PricingModel"
        search:
          type: string
        limit:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        offset:
          type: integer
          minimum: 0
          default: 0
    MiscCostPerEvent:
      type: string
      description: When this misc cost is charged. `cpa` charges on CPA postback; `sold_lead` charges on every sold lead;
        `disposition` charges when the specific mapped disposition named by `triggerDisposition` arrives — used by
        Intake Only campaigns, where intake cost books at transfer and revenue follows later at signing.
      enum:
        - cpa
        - sold_lead
        - disposition
    ContractMiscCost:
      type: object
      description: A configured miscellaneous cost on a contract (e.g. transfer fee, processing fee). Generates a
        `miscCostCharge` row each time the trigger event fires.
      required:
        - id
        - contractId
        - name
        - amount
        - perEvent
        - billClient
        - isActive
        - sortOrder
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          format: uuid
        contractId:
          type: string
          format: uuid
        tenantId:
          type: string
          format: uuid
          nullable: true
        name:
          type: string
          example: Transfer Fee
        amount:
          type: string
          description: Decimal amount as string (precision 10, scale 2)
          example: "5.00"
        perEvent:
          $ref: "#/components/schemas/MiscCostPerEvent"
        billClient:
          type: boolean
          description: When true, the cost is billed to the buyer in addition to internal accounting.
          default: false
        isActive:
          type: boolean
          default: true
        sortOrder:
          type: integer
          minimum: 0
          default: 0
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    ContractMiscCostCreate:
      type: object
      required:
        - name
        - amount
      properties:
        name:
          type: string
          minLength: 1
          example: Transfer Fee
        amount:
          type: number
          minimum: 0
          example: 5
        perEvent:
          $ref: "#/components/schemas/MiscCostPerEvent"
        billClient:
          type: boolean
          default: false
        isActive:
          type: boolean
          default: true
        sortOrder:
          type: integer
          minimum: 0
          default: 0
    ContractMiscCostUpdate:
      type: object
      description: Partial update. Include `id` of the misc-cost row to update at the top level.
      required:
        - id
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          minLength: 1
        amount:
          type: number
          minimum: 0
        perEvent:
          $ref: "#/components/schemas/MiscCostPerEvent"
        billClient:
          type: boolean
        isActive:
          type: boolean
        sortOrder:
          type: integer
          minimum: 0
    MiscCostCharge:
      type: object
      description: A recorded misc-cost charge against a specific lead/leadSale. Created automatically by the engine when a
        misc cost's trigger event fires.
      required:
        - id
        - miscCostId
        - contractId
        - leadId
        - buyerId
        - miscCostName
        - amount
        - perEvent
        - billClient
        - createdAt
      properties:
        id:
          type: string
          format: uuid
        miscCostId:
          type: string
          format: uuid
        contractId:
          type: string
          format: uuid
        leadSaleId:
          type: string
          format: uuid
          nullable: true
        leadId:
          type: string
          format: uuid
        buyerId:
          type: string
          format: uuid
        miscCostName:
          type: string
          description: Snapshot of the misc cost name at charge time
        amount:
          type: string
          description: Decimal amount as string (precision 10, scale 2)
        perEvent:
          $ref: "#/components/schemas/MiscCostPerEvent"
        billClient:
          type: boolean
        transactionId:
          type: string
          format: uuid
          nullable: true
        reversedAt:
          type: string
          format: date-time
          nullable: true
          description: Set when the charge has been reversed (e.g. CPA reversal)
        reversalTransactionId:
          type: string
          format: uuid
          nullable: true
        tenantId:
          type: string
          format: uuid
          nullable: true
        createdAt:
          type: string
          format: date-time
    CampaignCreate:
      type: object
      required:
        - partnerId
        - name
        - offerId
      properties:
        partnerId:
          type: string
          format: uuid
        name:
          type: string
          minLength: 1
          maxLength: 255
          example: Solar Leads - Facebook Q1
        verticalId:
          type: string
          format: uuid
          nullable: true
        offerId:
          type: string
          format: uuid
        pricingModel:
          type: string
          enum:
            - fixed
            - revshare
          default: fixed
        costPerLead:
          type: string
          default: "0"
        cpaCost:
          type: string
          default: "0"
        cpaPricingModel:
          type: string
          enum:
            - fixed
            - revshare
          default: fixed
        dailyCap:
          type: integer
          minimum: 1
          nullable: true
        weeklyCap:
          type: integer
          minimum: 1
          nullable: true
        monthlyCap:
          type: integer
          minimum: 1
          nullable: true
        legacyId:
          type: string
          nullable: true
        crmId:
          type: string
          nullable: true
        callEnabled:
          type: boolean
          default: false
        status:
          $ref: "#/components/schemas/CampaignStatus"
          default: active
        sendBuyerNameInPartnerResponse:
          type: boolean
          default: false
          description: Include buyerName in sold partner lead responses.
        sendBuyerPhoneInPartnerResponse:
          type: boolean
          default: false
          description: Include buyerPhone in sold partner lead responses.
        sendBuyerIdInPartnerResponse:
          type: boolean
          default: false
          description: Include the partner-facing buyerId in sold partner lead responses.
        sendRedirectUrlInPartnerResponse:
          type: boolean
          default: false
          description: Include redirectUrl in sold partner lead responses.
        sendBuyerMediaInPartnerResponse:
          type: boolean
          default: false
          description: Include buyerMediaUrl and buyerMediaType in sold partner lead responses.
    CampaignUpdate:
      description: All fields optional (partial update)
      allOf:
        - $ref: "#/components/schemas/CampaignCreate"
      x-all-optional: true
    CampaignFilter:
      type: object
      properties:
        partnerId:
          type: string
          format: uuid
        verticalId:
          type: string
          format: uuid
        status:
          $ref: "#/components/schemas/CampaignStatus"
        search:
          type: string
        limit:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        offset:
          type: integer
          minimum: 0
          default: 0
    CampaignFieldCreate:
      type: object
      required:
        - name
        - label
        - type
      properties:
        name:
          type: string
          minLength: 1
          pattern: ^[a-z][a-zA-Z0-9]*$
          example: homeownerStatus
        label:
          type: string
          minLength: 1
          example: Homeowner Status
        type:
          $ref: "#/components/schemas/FieldType"
        required:
          type: boolean
          default: false
        options:
          type: array
          items:
            type: string
          nullable: true
        validation:
          type: object
          additionalProperties: true
          nullable: true
        sortOrder:
          type: integer
          default: 0
    CampaignFieldUpdate:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          minLength: 1
          pattern: ^[a-z][a-zA-Z0-9]*$
        label:
          type: string
          minLength: 1
        type:
          $ref: "#/components/schemas/FieldType"
        required:
          type: boolean
        options:
          type: array
          items:
            type: string
          nullable: true
        validation:
          type: object
          additionalProperties: true
          nullable: true
        sortOrder:
          type: integer
    OfferCreate:
      type: object
      required:
        - name
        - verticalId
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
          example: Auto Insurance - National
        description:
          type: string
          nullable: true
        visibility:
          $ref: "#/components/schemas/OfferVisibility"
          default: private
        verticalId:
          type: string
          format: uuid
        status:
          $ref: "#/components/schemas/OfferStatus"
          default: active
        distributionType:
          $ref: "#/components/schemas/DistributionType"
          default: exclusive
        distributionRule:
          $ref: "#/components/schemas/DistributionRule"
          default: priority
        maxSales:
          type: integer
          minimum: 1
          nullable: true
        defaultPayoutModel:
          type: string
          nullable: true
        defaultPayoutAmount:
          type: number
          minimum: 0
          nullable: true
        intakeCenterId:
          type: string
          format: uuid
          nullable: true
        legacyId:
          type: string
          nullable: true
        crmId:
          type: string
          nullable: true
        callEnabled:
          type: boolean
          default: false
        cpaPayoutModel:
          type: string
          enum:
            - fixed
            - revshare
          nullable: true
        cpaPayoutAmount:
          type: number
          minimum: 0
          nullable: true
        callCallerAffinityMode:
          type: string
          enum:
            - false
            - same
            - exclude
          default: same
        callLeadAffinityMode:
          type: string
          enum:
            - false
            - same
            - exclude
          default: false
        callAffinityWindowDays:
          type: integer
          minimum: 1
          default: 30
        callDistributionType:
          type: string
          enum:
            - sequential
            - non_sequential
          default: sequential
        callDistributionRule:
          type: string
          enum:
            - price
            - priority
            - weight
            - round_robin
            - simultaneous
          default: priority
        callAffinityFallback:
          type: string
          enum:
            - none
            - next_match
          default: none
        requireCallContracts:
          type: boolean
          default: false
        balanceCheckEnabled:
          type: boolean
          nullable: true
        billDqLeads:
          type: boolean
          default: true
          description: When false, DQ delivery still runs but DQ sale price/cost, buyer billing, partner payout, and billable misc
            costs stay zero.
        sendBuyerNameInPartnerResponse:
          type: boolean
          default: false
          description: Default campaign setting for including buyerName in sold partner lead responses.
        sendBuyerPhoneInPartnerResponse:
          type: boolean
          default: false
          description: Default campaign setting for including buyerPhone in sold partner lead responses.
        sendBuyerIdInPartnerResponse:
          type: boolean
          default: false
          description: Default campaign setting for including the partner-facing buyerId in sold partner lead responses.
        sendRedirectUrlInPartnerResponse:
          type: boolean
          default: false
          description: Default campaign setting for including redirectUrl in sold partner lead responses.
        sendBuyerMediaInPartnerResponse:
          type: boolean
          default: false
          description: Default campaign setting for including buyerMediaUrl and buyerMediaType in sold partner lead responses.
        messagingEnabled:
          type: boolean
          default: false
          description: Opt this offer into populating the messaging contact database from its leads and calls. Off by default;
            setting it true requires the tenant messaging feature to be enabled.
        fieldSettings:
          type: object
          additionalProperties:
            type: object
            properties:
              hidden:
                type: boolean
              required:
                type: boolean
          nullable: true
        attributionPolicy:
          type: object
          additionalProperties: true
          nullable: true
    OfferUpdate:
      description: All fields optional (partial update)
      allOf:
        - $ref: "#/components/schemas/OfferCreate"
      x-all-optional: true
    OfferFilter:
      type: object
      properties:
        verticalId:
          type: string
          format: uuid
        status:
          $ref: "#/components/schemas/OfferStatus"
        visibility:
          $ref: "#/components/schemas/OfferVisibility"
        search:
          type: string
        limit:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        offset:
          type: integer
          minimum: 0
          default: 0
    CallBillingRule:
      type: object
      description: Polymorphic call billing rule for multi-tier pricing (Ringba 'Add Campaign Payout Setting' / Retreaver
        'Tag-based conversion criteria')
      properties:
        id:
          type: string
          format: uuid
        parentType:
          type: string
          enum:
            - offer
            - campaign
            - contract
        parentId:
          type: string
          format: uuid
        priority:
          type: integer
        name:
          type: string
        tagMatch:
          type: object
          nullable: true
          additionalProperties:
            type: string
        dispositionMatch:
          type: array
          nullable: true
          items:
            type: string
        callPayoutType:
          type: string
          enum:
            - fixed
            - revshare
            - raw_call
        callPayoutAmount:
          type: string
          format: decimal
          nullable: true
        callRevsharePercent:
          type: string
          format: decimal
          nullable: true
        callMaxPayoutPerCall:
          type: string
          format: decimal
          nullable: true
        callConversionType:
          type: string
          enum:
            - length
            - connected
            - dialed
            - postback
            - contract_billed
        callMinDurationSec:
          type: integer
          nullable: true
          description: Minimum seconds on the selected duration anchor when callConversionType=length. With Connect by default,
            this is connected talk duration.
        callDurationAnchor:
          type: string
          enum:
            - incoming
            - dial
            - connect
          description: Default `connect` starts when the target answers and excludes ringing. `dial` starts when the platform
            dials the target. `incoming` starts when the caller enters the system.
        callDuplicatePayouts:
          type: string
          enum:
            - allow
            - block
            - window
        callDuplicateWindowSec:
          type: integer
          nullable: true
        tenantId:
          type: string
          format: uuid
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    LeadCreate:
      type: object
      required:
        - verticalId
        - firstName
        - lastName
        - email
        - phone
        - tcpaConsent
      properties:
        verticalId:
          type: string
          format: uuid
        partnerId:
          type: string
          format: uuid
        campaignId:
          type: string
          format: uuid
        offerId:
          type: string
          format: uuid
        firstName:
          type: string
          minLength: 1
          maxLength: 100
          example: Jane
        lastName:
          type: string
          minLength: 1
          maxLength: 100
          example: Doe
        email:
          type: string
          format: email
          example: jane.doe@example.com
        phone:
          type: string
          minLength: 10
          maxLength: 20
          example: "+15551234567"
        dateOfBirth:
          type: string
          nullable: true
        address:
          type: string
          nullable: true
        address2:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        state:
          type: string
          maxLength: 2
          nullable: true
          example: CA
        zipCode:
          type: string
          maxLength: 10
          nullable: true
          example: "90210"
        country:
          type: string
          default: US
        tcpaConsent:
          type: boolean
          example: true
        consentTimestamp:
          type: string
          format: date-time
        consentIp:
          type: string
        consentText:
          type: string
        custom:
          type: object
          additionalProperties: true
        sub1:
          type: string
          nullable: true
        sub2:
          type: string
          nullable: true
        sub3:
          type: string
          nullable: true
        sub4:
          type: string
          nullable: true
        sub5:
          type: string
          nullable: true
        sub6:
          type: string
          nullable: true
        sub7:
          type: string
          nullable: true
        sub8:
          type: string
          nullable: true
        sub9:
          type: string
          nullable: true
        sub10:
          type: string
          nullable: true
        requestId:
          type: string
          nullable: true
        isTest:
          type: boolean
        trustedFormCertUrl:
          type: string
          format: uri
          nullable: true
        jornayaLeadId:
          type: string
          nullable: true
          description: Jornaya LeadiD token (36-char UUID). When the tenant's Jornaya integration is enabled with auto-audit,
            submitting one triggers a billed LeadiD audit query.
        consentCertUrl:
          type: string
          format: uri
          nullable: true
    LeadUpdate:
      description: All fields optional (partial update)
      allOf:
        - $ref: "#/components/schemas/LeadCreate"
      x-all-optional: true
    LeadFilter:
      type: object
      properties:
        status:
          $ref: "#/components/schemas/LeadStatus"
        verticalId:
          type: string
          format: uuid
        partnerId:
          type: string
          format: uuid
        buyerId:
          type: string
          format: uuid
        dateFrom:
          type: string
          format: date-time
        dateTo:
          type: string
          format: date-time
        search:
          type: string
        isTrashed:
          type: boolean
        isTest:
          type: boolean
        isPaid:
          type: boolean
        campaignId:
          type: string
          format: uuid
        offerId:
          type: string
          format: uuid
        contractId:
          type: string
          format: uuid
        isSold:
          type: boolean
        isScrubbed:
          type: boolean
        limit:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        offset:
          type: integer
          minimum: 0
          default: 0
    CherryPick:
      type: object
      required:
        - contractId
      properties:
        contractId:
          type: string
          format: uuid
        price:
          type: number
          minimum: 0
        skipFilters:
          type: boolean
        skipCaps:
          type: boolean
        skipDedup:
          type: boolean
        skipBalanceCheck:
          type: boolean
        adjustPayout:
          type: boolean
    AdjustPayout:
      type: object
      required:
        - newPrice
      properties:
        saleId:
          type: string
          format: uuid
        newPrice:
          type: number
          minimum: 0
        reason:
          type: string
    Distribute:
      type: object
      required:
        - mode
      properties:
        mode:
          type: string
          enum:
            - all
            - exclude_seen
            - include_specific
            - exclude_specific
        contractIds:
          type: array
          items:
            type: string
            format: uuid
    BulkAction:
      type: object
      required:
        - leadIds
        - action
      properties:
        leadIds:
          type: array
          items:
            type: string
            format: uuid
          minItems: 1
        action:
          type: string
          enum:
            - scrub
            - trash
            - toggle_test
            - toggle_paid
    BulkCherryPick:
      type: object
      required:
        - leadIds
        - contractId
      properties:
        leadIds:
          type: array
          items:
            type: string
            format: uuid
          minItems: 1
        contractId:
          type: string
          format: uuid
        price:
          type: number
          minimum: 0
        skipFilters:
          type: boolean
        skipCaps:
          type: boolean
        skipDedup:
          type: boolean
    BulkAdjustPayout:
      type: object
      required:
        - leadIds
        - newPrice
      properties:
        leadIds:
          type: array
          items:
            type: string
            format: uuid
          minItems: 1
        newPrice:
          type: number
          minimum: 0
        reason:
          type: string
    PersonCreate:
      type: object
      properties:
        firstName:
          type: string
          maxLength: 255
          nullable: true
        lastName:
          type: string
          maxLength: 255
          nullable: true
        email:
          type: string
          format: email
          nullable: true
        phone:
          type: string
          maxLength: 30
          nullable: true
        dateOfBirth:
          type: string
          nullable: true
        address:
          type: string
          nullable: true
        address2:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        state:
          type: string
          maxLength: 2
          nullable: true
        zipCode:
          type: string
          maxLength: 10
          nullable: true
        country:
          type: string
          nullable: true
        tags:
          type: array
          items:
            type: string
          default: []
        custom:
          type: object
          additionalProperties: true
          default: {}
    PersonUpdate:
      description: All fields optional (partial update)
      allOf:
        - $ref: "#/components/schemas/PersonCreate"
      properties:
        status:
          $ref: "#/components/schemas/PersonStatus"
      x-all-optional: true
    PersonFilter:
      type: object
      properties:
        search:
          type: string
        state:
          type: string
        status:
          $ref: "#/components/schemas/PersonStatus"
        tags:
          type: string
        dateFrom:
          type: string
        dateTo:
          type: string
        limit:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        offset:
          type: integer
          minimum: 0
          default: 0
    PersonNoteCreate:
      type: object
      required:
        - content
      properties:
        content:
          type: string
          minLength: 1
          maxLength: 10000
    PersonMerge:
      type: object
      required:
        - mergePersonId
      properties:
        mergePersonId:
          type: string
          format: uuid
        reason:
          type: string
    IvrMenuOption:
      type: object
      required:
        - digit
        - label
        - action
      properties:
        digit:
          type: string
          minLength: 1
          maxLength: 1
        label:
          type: string
          minLength: 1
        action:
          type: string
          minLength: 1
        actionTarget:
          type: string
    IvrConfigCreate:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          minLength: 1
          example: Solar Leads IVR
        greeting:
          type: string
          nullable: true
        greetingType:
          $ref: "#/components/schemas/IvrGreetingType"
          default: tts
        menuOptions:
          type: array
          items:
            $ref: "#/components/schemas/IvrMenuOption"
          default: []
        timeoutSeconds:
          type: integer
          minimum: 1
          default: 5
        maxRetries:
          type: integer
          minimum: 0
          default: 3
        invalidInputMessage:
          type: string
          nullable: true
        timeoutMessage:
          type: string
          nullable: true
        status:
          $ref: "#/components/schemas/IvrStatus"
          default: active
    IvrConfigUpdate:
      description: All fields optional (partial update)
      allOf:
        - $ref: "#/components/schemas/IvrConfigCreate"
      x-all-optional: true
    TrackingNumberCreate:
      type: object
      required:
        - provider
        - phoneNumber
      properties:
        provider:
          $ref: "#/components/schemas/TrackingNumberProvider"
        phoneNumber:
          type: string
          minLength: 1
          example: "+18005551234"
        campaignId:
          type: string
          format: uuid
          nullable: true
        offerId:
          type: string
          format: uuid
          nullable: true
        label:
          type: string
          nullable: true
        numberType:
          $ref: "#/components/schemas/TrackingNumberType"
          default: local
        ivrConfigId:
          type: string
          format: uuid
          nullable: true
        whisperEnabled:
          type: boolean
          default: false
        whisperDefault:
          type: string
          nullable: true
        recordCalls:
          type: boolean
          default: true
        renewalDate:
          type: string
          nullable: true
        purchasedAt:
          type: string
          format: date-time
          nullable: true
        poolManaged:
          type: boolean
          default: true
        status:
          $ref: "#/components/schemas/TrackingNumberStatus"
          default: assigned
    TrackingNumberUpdate:
      description: All fields optional (partial update)
      allOf:
        - $ref: "#/components/schemas/TrackingNumberCreate"
      x-all-optional: true
    NumberSearch:
      type: object
      required:
        - provider
      properties:
        provider:
          $ref: "#/components/schemas/TrackingNumberProvider"
        areaCode:
          type: string
          maxLength: 10
        country:
          type: string
          maxLength: 2
          default: US
        numberType:
          $ref: "#/components/schemas/TrackingNumberType"
          default: local
        limit:
          type: integer
          minimum: 1
          maximum: 50
          default: 10
    CallFilter:
      type: object
      properties:
        status:
          $ref: "#/components/schemas/CallStatus"
        campaignId:
          type: string
          format: uuid
        offerId:
          type: string
          format: uuid
        partnerId:
          type: string
          format: uuid
        callerNumber:
          type: string
        dateFrom:
          type: string
          format: date-time
        dateTo:
          type: string
          format: date-time
        buyerId:
          type: string
          format: uuid
        trackingNumberId:
          type: string
          format: uuid
        search:
          type: string
        limit:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        offset:
          type: integer
          minimum: 0
          default: 0
    CallConversion:
      type: object
      properties:
        callSaleId:
          type: string
          format: uuid
        amount:
          type: number
          minimum: 0
    CallDisposition:
      type: object
      required:
        - callSaleId
        - disposition
      properties:
        callSaleId:
          type: string
          format: uuid
        disposition:
          type: string
          minLength: 1
        dispositionReason:
          type: string
          nullable: true
    TransactionFilter:
      type: object
      properties:
        type:
          $ref: "#/components/schemas/TransactionType"
        entityType:
          $ref: "#/components/schemas/EntityType"
        entityId:
          type: string
          format: uuid
        buyerId:
          type: string
          format: uuid
        partnerId:
          type: string
          format: uuid
        dateFrom:
          type: string
          format: date-time
        dateTo:
          type: string
          format: date-time
        minAmount:
          type: number
        maxAmount:
          type: number
        limit:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        offset:
          type: integer
          minimum: 0
          default: 0
    RefundCreate:
      type: object
      required:
        - leadId
        - buyerId
        - saleId
        - amount
        - reason
      properties:
        leadId:
          type: string
          format: uuid
        buyerId:
          type: string
          format: uuid
        saleId:
          type: string
          format: uuid
        amount:
          type: string
          example: "12.50"
        reason:
          $ref: "#/components/schemas/RefundReason"
        notes:
          type: string
          nullable: true
    RefundProcess:
      type: object
      required:
        - status
      properties:
        status:
          type: string
          enum:
            - approved
            - rejected
        adminNotes:
          type: string
          nullable: true
          maxLength: 2000
    RefundFilter:
      type: object
      properties:
        status:
          $ref: "#/components/schemas/RefundStatus"
        reason:
          $ref: "#/components/schemas/RefundReason"
        buyerId:
          type: string
          format: uuid
        partnerId:
          type: string
          format: uuid
        dateFrom:
          type: string
          format: date-time
        dateTo:
          type: string
          format: date-time
        limit:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        offset:
          type: integer
          minimum: 0
          default: 0
    Login:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          example: admin@iscale.com
        password:
          type: string
          minLength: 8
      example:
        email: admin@iscale.com
        password: secureP@ss1
    Register:
      type: object
      required:
        - email
        - password
        - name
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
          maxLength: 100
        name:
          type: string
          minLength: 1
          maxLength: 255
        role:
          $ref: "#/components/schemas/UserRole"
          default: buyer
    UserCreate:
      type: object
      required:
        - email
        - password
        - name
        - role
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
          maxLength: 100
        name:
          type: string
          minLength: 1
          maxLength: 255
        role:
          $ref: "#/components/schemas/UserRole"
        status:
          $ref: "#/components/schemas/UserStatus"
          default: active
        buyerId:
          type: string
          format: uuid
          nullable: true
    UserUpdate:
      type: object
      properties:
        email:
          type: string
          format: email
        name:
          type: string
          minLength: 1
          maxLength: 255
        status:
          $ref: "#/components/schemas/UserStatus"
        buyerId:
          type: string
          format: uuid
          nullable: true
        isPartnerManager:
          type: boolean
        isAccountManager:
          type: boolean
        isSalesRep:
          type: boolean
        legacyId:
          type: integer
          nullable: true
        crmId:
          type: string
          nullable: true
    PasswordChange:
      type: object
      required:
        - currentPassword
        - newPassword
      properties:
        currentPassword:
          type: string
        newPassword:
          type: string
          minLength: 8
          maxLength: 100
    ApiKeyCreate:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
          example: Production Integration Key
        buyerId:
          type: string
          format: uuid
          nullable: true
        expiresAt:
          type: string
          format: date-time
          nullable: true
        readOnly:
          type: boolean
          default: false
          description: |
            When true, this key blocks all non-GET requests with `403 READ_ONLY`.
            GET / HEAD / OPTIONS remain allowed.
        piiAccess:
          type: boolean
          default: false
          description: |
            When true, this key returns unmasked PII (names, emails, phones, addresses,
            dates of birth, custom PII-flagged fields). Default keys return masked values.

            Creator-privilege rule: the caller minting the key must have `piiAccess` on
            their own account (or be superadmin). Otherwise the request is rejected with
            `403 FORBIDDEN`.
    ApiKeyFilter:
      type: object
      properties:
        status:
          $ref: "#/components/schemas/ApiKeyStatus"
        buyerId:
          type: string
          format: uuid
        limit:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        offset:
          type: integer
          minimum: 0
          default: 0
    ContactUpsert:
      type: object
      required:
        - email
      properties:
        email:
          type: string
          format: email
        firstName:
          type: string
          maxLength: 255
          nullable: true
        lastName:
          type: string
          maxLength: 255
          nullable: true
        phone:
          type: string
          maxLength: 30
          nullable: true
        dateOfBirth:
          type: string
          nullable: true
        address:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        state:
          type: string
          maxLength: 2
          nullable: true
        zipCode:
          type: string
          maxLength: 10
          nullable: true
        country:
          type: string
          nullable: true
        properties:
          type: object
          additionalProperties: true
          default: {}
        tags:
          type: array
          items:
            type: string
          default: []
    InboundDisposition:
      type: object
      required:
        - saleId
        - disposition
      properties:
        saleId:
          type: string
          format: uuid
        disposition:
          type: string
          maxLength: 50
        dispoReason:
          type: string
          maxLength: 100
        intakeDispo:
          type: string
          maxLength: 100
        comsCount:
          type: integer
          minimum: 0
        intakeId:
          type: string
          maxLength: 255
          description: "Deprecated: use buyerLeadId instead. Kept for backwards compatibility."
        buyerLeadId:
          type: string
          maxLength: 255
          description: Preferred field for buyer-assigned lead ID. Replaces intakeId.
        notes:
          type: string
          maxLength: 2000
        agentName:
          type: string
          maxLength: 100
        callDuration:
          type: integer
          minimum: 0
        callbackDate:
          type: string
          format: date-time
        externalId:
          type: string
          maxLength: 255
    DispositionCodeCreate:
      type: object
      required:
        - code
        - label
        - category
        - triggersCpa
        - triggersReturn
      properties:
        code:
          type: string
          minLength: 1
          maxLength: 50
          example: SOLD
        label:
          type: string
          minLength: 1
          maxLength: 100
          example: Sale Completed
        category:
          $ref: "#/components/schemas/DispositionCategory"
        triggersCpa:
          type: boolean
        triggersReturn:
          type: boolean
        returnReason:
          $ref: "#/components/schemas/RefundReason"
          nullable: true
        isActive:
          type: boolean
        sortOrder:
          type: integer
    DispositionCodeUpdate:
      description: All fields optional (partial update)
      allOf:
        - $ref: "#/components/schemas/DispositionCodeCreate"
      x-all-optional: true
    IntakeCenterCreate:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
          example: Primary Intake
        status:
          type: string
          enum:
            - active
            - inactive
          default: active
        deliveryMethod:
          type: string
          enum:
            - http_post
            - http_get
            - email
          nullable: true
        deliveryUrl:
          type: string
          nullable: true
        deliveryConfig: {}
        notes:
          type: string
          maxLength: 2000
          nullable: true
        statusMappings:
          type: object
          additionalProperties:
            type: string
        conversionStatuses:
          type: array
          items:
            type: string
        rejectionStatuses:
          type: array
          items:
            type: string
        programMappings:
          type: object
          additionalProperties:
            type: string
    IntakeCenterUpdate:
      description: All fields optional (partial update)
      allOf:
        - $ref: "#/components/schemas/IntakeCenterCreate"
      x-all-optional: true
    IntakeCenterFilter:
      type: object
      properties:
        search:
          type: string
        status:
          type: string
          enum:
            - active
            - inactive
        sort:
          type: string
          enum:
            - name
            - status
            - deliveryMethod
            - createdAt
          default: createdAt
        sortDirection:
          type: string
          enum:
            - asc
            - desc
          default: desc
        limit:
          type: integer
          minimum: 1
          maximum: 1000
          default: 20
        offset:
          type: integer
          minimum: 0
          default: 0
    IntakeCenterDispositionCreate:
      type: object
      required:
        - intakeCenterId
        - verticalGroupId
        - externalCode
        - verticalGroupDispositionId
      properties:
        intakeCenterId:
          type: string
          format: uuid
        verticalGroupId:
          type: string
          format: uuid
        externalCode:
          type: string
          minLength: 1
          maxLength: 100
        externalLabel:
          type: string
          maxLength: 200
          nullable: true
        verticalGroupDispositionId:
          type: string
          format: uuid
          nullable: true
        overrideTriggersCpa:
          type: boolean
          nullable: true
        overrideTriggersReturn:
          type: boolean
          nullable: true
        overrideReturnReason:
          $ref: "#/components/schemas/RefundReason"
          nullable: true
        isActive:
          type: boolean
          default: true
        sortOrder:
          type: integer
          default: 0
    IntakeCenterDispositionUpdate:
      type: object
      properties:
        externalCode:
          type: string
          minLength: 1
          maxLength: 100
        externalLabel:
          type: string
          maxLength: 200
          nullable: true
        verticalGroupDispositionId:
          type: string
          format: uuid
          nullable: true
        overrideTriggersCpa:
          type: boolean
          nullable: true
        overrideTriggersReturn:
          type: boolean
          nullable: true
        overrideReturnReason:
          $ref: "#/components/schemas/RefundReason"
          nullable: true
        isActive:
          type: boolean
        sortOrder:
          type: integer
    ContractDispositionCreate:
      type: object
      required:
        - contractId
        - externalCode
        - verticalGroupDispositionId
      properties:
        contractId:
          type: string
          format: uuid
        externalCode:
          type: string
          minLength: 1
          maxLength: 100
        externalLabel:
          type: string
          maxLength: 200
          nullable: true
        verticalGroupDispositionId:
          type: string
          format: uuid
          nullable: true
        overrideTriggersCpa:
          type: boolean
          nullable: true
        overrideTriggersReturn:
          type: boolean
          nullable: true
        overrideReturnReason:
          $ref: "#/components/schemas/RefundReason"
          nullable: true
        isActive:
          type: boolean
          default: true
        sortOrder:
          type: integer
          default: 0
    ContractDispositionUpdate:
      type: object
      properties:
        externalCode:
          type: string
          minLength: 1
          maxLength: 100
        externalLabel:
          type: string
          maxLength: 200
          nullable: true
        verticalGroupDispositionId:
          type: string
          format: uuid
          nullable: true
        overrideTriggersCpa:
          type: boolean
          nullable: true
        overrideTriggersReturn:
          type: boolean
          nullable: true
        overrideReturnReason:
          $ref: "#/components/schemas/RefundReason"
          nullable: true
        isActive:
          type: boolean
        sortOrder:
          type: integer
    CloneDispositions:
      type: object
      required:
        - fromVerticalGroupId
        - toVerticalGroupId
      properties:
        fromVerticalGroupId:
          type: string
          format: uuid
        toVerticalGroupId:
          type: string
          format: uuid
    SessionCreateResponse:
      type: object
      required:
        - sessionKey
        - sessionId
        - expiresAt
      properties:
        sessionKey:
          type: string
        sessionId:
          type: string
          format: uuid
        expiresAt:
          type: string
    SessionPatch:
      type: object
      properties:
        data:
          type: object
          additionalProperties: true
        currentStep:
          type: integer
          minimum: 0
        status:
          type: string
          enum:
            - completed
    SessionGetResponse:
      type: object
      required:
        - sessionId
        - campaignId
        - data
        - currentStep
        - totalSteps
        - status
        - primaryLeadId
        - coregCount
        - expiresAt
        - createdAt
        - updatedAt
      properties:
        sessionId:
          type: string
          format: uuid
        campaignId:
          type: string
          format: uuid
        data:
          type: object
          additionalProperties: true
        currentStep:
          type: integer
        totalSteps:
          type: integer
          nullable: true
        status:
          type: string
          enum:
            - active
            - submitted
            - completed
            - expired
        primaryLeadId:
          type: string
          format: uuid
          nullable: true
        coregCount:
          type: integer
        expiresAt:
          type: string
        createdAt:
          type: string
        updatedAt:
          type: string
    CoregRequest:
      type: object
      properties:
        data:
          type: object
          additionalProperties: true
    VerticalGroupCreate:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
          example: Auto Insurance Group
        dedupScope:
          type: string
          enum:
            - offer
            - vertical
            - group
          default: offer
        attributionScope:
          type: string
          enum:
            - offer
            - vertical
            - group
          default: offer
        attributionPolicy:
          type: object
          additionalProperties: true
          nullable: true
    VerticalGroupUpdate:
      description: All fields optional (partial update)
      allOf:
        - $ref: "#/components/schemas/VerticalGroupCreate"
      x-all-optional: true
    VerticalGroupFilter:
      type: object
      properties:
        search:
          type: string
        limit:
          type: integer
          minimum: 1
          maximum: 1000
          default: 20
        offset:
          type: integer
          minimum: 0
          default: 0
        sort:
          type: string
          enum:
            - name
            - createdAt
          default: createdAt
        sortDirection:
          type: string
          enum:
            - asc
            - desc
          default: desc
    VerticalGroupDispositionCreate:
      type: object
      required:
        - label
        - category
      properties:
        label:
          type: string
          minLength: 1
          example: Qualified Lead
        category:
          $ref: "#/components/schemas/DispositionCategory"
        triggersCpa:
          type: boolean
          default: false
        triggersReturn:
          type: boolean
          default: false
        returnReason:
          type: string
          nullable: true
        sortOrder:
          type: integer
          default: 0
        isActive:
          type: boolean
          default: true
        slug:
          type: string
    VerticalGroupDispositionUpdate:
      description: All fields optional (partial update)
      allOf:
        - $ref: "#/components/schemas/VerticalGroupDispositionCreate"
      x-all-optional: true
    EngagementFilter:
      type: object
      properties:
        partnerId:
          type: string
          format: uuid
        buyerId:
          type: string
          format: uuid
        verticalId:
          type: string
          format: uuid
        status:
          $ref: "#/components/schemas/EngagementStatus"
        search:
          type: string
        limit:
          type: integer
          minimum: 1
          maximum: 1000
          default: 20
        offset:
          type: integer
          minimum: 0
          default: 0
        sort:
          type: string
          enum:
            - originatedAt
            - latestEventAt
            - cpaStatus
          default: latestEventAt
        sortDirection:
          type: string
          enum:
            - asc
            - desc
          default: desc
    HttpHeader:
      type: object
      required:
        - name
        - value
      properties:
        name:
          type: string
        value:
          type: string
    HttpFieldMapping:
      type: object
      required:
        - from
        - to
      properties:
        from:
          type: string
        to:
          type: string
        defaultValue:
          type: string
    HttpResponseFieldMapping:
      type: object
      required:
        - responsePath
        - leadField
      properties:
        responsePath:
          type: string
        leadField:
          type: string
        interpretAs:
          type: string
    HttpAuthCredentials:
      type: object
      properties:
        username:
          type: string
        password:
          type: string
        token:
          type: string
        headerName:
          type: string
    HttpConfig:
      type: object
      properties:
        url:
          type: string
        method:
          type: string
          enum:
            - POST
            - GET
            - PUT
          default: POST
        format:
          type: string
          enum:
            - json
            - xml
            - form
          default: json
        timeout:
          type: integer
          minimum: 1
          maximum: 120
          default: 30
        retries:
          type: integer
          minimum: 0
          maximum: 10
          default: 3
        authType:
          type: string
          enum:
            - none
            - basic
            - bearer
            - api_key
          default: none
        authCredentials:
          $ref: "#/components/schemas/HttpAuthCredentials"
        headers:
          type: array
          items:
            $ref: "#/components/schemas/HttpHeader"
        bodyTemplate:
          type: string
        urlTemplate:
          type: string
        fieldMapping:
          type: array
          items:
            $ref: "#/components/schemas/HttpFieldMapping"
        responseFieldMapping:
          type: array
          items:
            $ref: "#/components/schemas/HttpResponseFieldMapping"
        responseMappingRules:
          type: array
          items:
            $ref: "#/components/schemas/ResponseMappingRule"
        responseTokens:
          $ref: "#/components/schemas/ResponseTokens"
    TelephonyCredential:
      type: object
      properties:
        id:
          type: string
          format: uuid
        scope:
          type: string
          enum:
            - system
            - tenant
        provider:
          $ref: "#/components/schemas/TrackingNumberProvider"
        apiKey:
          type: string
          nullable: true
        apiSecret:
          type: string
          nullable: true
        publicKey:
          type: string
          nullable: true
        connectionId:
          type: string
          nullable: true
        extra:
          type: object
          additionalProperties: true
          nullable: true
        status:
          type: string
          enum:
            - active
            - inactive
    TelephonyCredentialCreate:
      type: object
      required:
        - provider
        - apiKey
      properties:
        provider:
          $ref: "#/components/schemas/TrackingNumberProvider"
        apiKey:
          type: string
          minLength: 1
        apiSecret:
          type: string
          nullable: true
        publicKey:
          type: string
          nullable: true
        connectionId:
          type: string
          nullable: true
        extra:
          type: object
          additionalProperties: true
          nullable: true
    TelephonyCredentialTest:
      type: object
      required:
        - provider
        - apiKey
      properties:
        provider:
          $ref: "#/components/schemas/TrackingNumberProvider"
        apiKey:
          type: string
          minLength: 1
        apiSecret:
          type: string
          nullable: true
        publicKey:
          type: string
          nullable: true
        connectionId:
          type: string
          nullable: true
    TelephonyCredentialMasked:
      type: object
      description: Telephony credential with apiKey/apiSecret masked
      properties:
        id:
          type: string
          format: uuid
        scope:
          type: string
          enum:
            - system
            - tenant
        tenantId:
          type: string
          format: uuid
          nullable: true
        provider:
          type: string
          enum:
            - telnyx
            - twilio
            - bandwidth
        apiKey:
          type: string
          description: Masked API key (e.g. "KEY_...xyz")
        apiSecret:
          type: string
          nullable: true
          description: Always "***" if set, null otherwise
        publicKey:
          type: string
          nullable: true
        connectionId:
          type: string
          nullable: true
        extra:
          type: object
          additionalProperties: true
          nullable: true
        status:
          type: string
          enum:
            - active
            - inactive
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    ProviderName:
      type: string
      description: Downstream provider for a credential row.
      enum:
        - twilio
        - telnyx
        - bandwidth
        - sendgrid
        - ses
    ProviderScope:
      type: string
      description: |
        `system` rows belong to the platform catalog (tenantId=null). `tenant`
        rows are owned by a single tenant. Tenant routes can view shareable
        system rows but cannot mutate them.
      enum:
        - system
        - tenant
    ProviderStatus:
      type: string
      enum:
        - active
        - inactive
    ProviderCapability:
      type: string
      description: |
        Routing decision a credential is allowed to serve. Voice is per-provider
        so a `voice_calls_*` resolution always returns the matching provider.
      enum:
        - sms_delivery
        - sms_messaging
        - email_messaging
        - voice_calls_twilio
        - voice_calls_telnyx
        - voice_calls_bandwidth
    ProviderCredentialLimits:
      type: object
      description: Hard caps superadmin sets on tenant overrides.
      properties:
        maxDailySendLimit:
          type: integer
          minimum: 0
          nullable: true
          description: Max value tenants may set in `assignment.overrides.dailySendLimit`.
      additionalProperties: true
    ProviderCredential:
      type: object
      description: |
        Unified provider credential row. Secret values in `credentials` are
        masked in responses (e.g. `accountSid: "ACa1...xyz"`); plaintext is
        only ever stored encrypted at rest.
      properties:
        id:
          type: string
          format: uuid
        scope:
          $ref: "#/components/schemas/ProviderScope"
        tenantId:
          type: string
          format: uuid
          nullable: true
          description: Always null for `scope=system`; required for `scope=tenant`.
        name:
          type: string
          maxLength: 120
        provider:
          $ref: "#/components/schemas/ProviderName"
        capabilities:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/ProviderCapability"
        credentials:
          type: object
          description: Per-provider secret bag (masked in responses).
          additionalProperties:
            type: string
        config:
          type: object
          description: Plaintext per-provider config (fromNumber, baseUrl, region, etc.).
          additionalProperties: true
        shareable:
[...]
